MYSQL_PORT=13306
REDIS_PORT=16379
RABBITMQ_AMQP_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673
APP_PORT=18080

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=my_im
MYSQL_USER=my_im
MYSQL_PASSWORD=my_im123
RABBITMQ_DEFAULT_USER=my_im_mq
RABBITMQ_DEFAULT_PASS=my_im_mq123
JWT_SECRET=replace-with-at-least-32-random-characters
